body{
    align-content: center;
}

.horizontal-bar{
    margin: 0;
    display: inline;
}
h1{
    color: rgb(91, 24, 154);
    padding-left: 700px;
    font-size: 40px;
}
.side-navbar img{
    margin: 0;
    height: 90px;
    width: 270px;
    padding-bottom: 80px;
}
.side-navbar{
    z-index: 1;
    position: fixed;
    overflow-x: hidden;
    height: 100%;
    width: 250px;
    top: 0;
    bottom: 0;
    left: 0;
    border: 3px solid rgb(176, 174, 174);
    margin-left: 0;
}
.side-navbar a{
    text-decoration: none;
    display: block;
    padding: 6px 8px 6px 16px;
    font-size: 25px;
    color: blueviolet
    
}
.side-navbar a:hover{
    color: rgb(97, 65, 145);;
}
table{
    
    font-size: 18px;
    margin-top: 80px;
    margin-left: 330px;
    border-collapse: collapse;
    align-content: center;
    border-radius: 5px;
}
table, th, td {
    font-size: large;
    color: rgb(89, 40, 135);
    border: 1px solid blueviolet;
    padding: 20px;
    
}
.first-row{
    background-color:rgb(153, 110, 190);
}
th,td{
    border-style: groove;
    border-color: blueviolet;
}
tr:hover {background-color:rgb(227, 206, 246);}
#black{
    color: black;
}
#bottom-padding{
    padding-bottom: 280px;
}

