* {
  font-family: "Libre Baskerville", "static";
}

/* Add this CSS for the typing animation */
.typing h1 {

  white-space: nowrap;
  overflow: hidden;
  font-size: 70px;
  width: 100%;
  animation: typing 3.5s steps(40, end) infinite;
}

/* The typing effect */
@keyframes typing {
  0% {
    opacity: 0;
    width: 0;
  }

  1% {
    opacity: 1;
  }

  100% {
    opacity: 1;
    width: 100%;
  }
}

/* Your existing CSS goes here */
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  right: 0;
}

body {
  font-family: "Libre Baskerville", "static";
}

.container {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0px 10px;
}

.horizontal-bar {
  background-color: rgb(236, 220, 250);
  position: relative;
}

.horizontal-bar button {
  position: absolute;
  top: 25%;
  font-size: 13px;
  font-family: Cabin;
  color: white;
  padding: 20px;
  border-radius: 2rem;
  border: none;
  background-color: rgb(109, 49, 164);

}

.horizontal-bar button:hover {
  box-shadow: 0 8px 16px 0 rgb(109, 49, 164, 0.7);
  transition: .2s;
  transform: scale(1.02);
}

.horizontal-bar img {
  height: 5%;
  width: 20%;
  margin: 0;
}

.horizontal-bar a {
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
.horizontal-bar button:hover{
  box-shadow: 0 8px 16px 0 rgb(109, 49, 164,0.7);
  transition: .2s;
  transform: scale(1.02);
  background-color: rgb(165, 97, 229);
}
.horizontal-bar .signin{
  right: 5%;
}
.horizontal-bar .faq{
  right: 17%;
  margin-top: 0px;
}
.horizontal-bar .complaints{
  right:28%;
}
.horizontal-bar .about{
  right: 42%;
}
.horizontal-bar .home{
  right: 55%;
}
.header {
  text-align: center;
  width: 50%;
  height: 100%;
}

.header h1 {
  color: rgb(70, 3, 101);
}

.kk-Wagh {
  text-align: center;
}

.register-btn {
  background-color: rgb(109, 49, 164);
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 30px;
}

.register-btn:hover {
  background-color: #34003e;
}

.top-companies {
  padding: 20px;
  margin-top: 20px;
}

.image-side {
  max-width: 540px;
  /* Adjust the size as needed */
}

/* styles.css */

#about-us {
  display: flex;
  justify-content: space-between;
  margin-top: 60px;
  margin-bottom: 60px;
  margin-left: 20px;
}

#about-us h2 {
  text-align: center;
  color: rgb(93, 1, 108);
  text-decoration: underline;
}

h4 {
  text-align: center;
  line-height: 0%;
  color: rgb(122, 3, 146)
}

#about-us p {
  color: black;
}

#about-us .read-more {
  display: inline-block;
  
  padding: 10px 20px;
  color: white;
  text-align: center;
  background-color: rgb(109, 49, 164);
  text-decoration: none;
  border-radius: 30px;
  margin-left: 320px;
  
}

.read-more:hover {
  background-color: #2a0132;
}

#about-us img {
  width: 80%;
  height: 200px;
  margin-top: 60px;
  margin-left: 70px;
}