*{
  font-family:"Libre Baskerville", "static" ;
}
    /* Add this CSS for the typing animation */
    .typing h1 {
        text-align: center;
        white-space: nowrap;
        overflow: hidden;    
        font-size:70px;
        width: 100%;
        animation: typing 3.5s steps(40, end) infinite;
      }
    
      /* The typing effect */
      @keyframes typing {
        0% { opacity: 0; width: 0; }
        1% { opacity: 1; }
        100% { opacity: 1; width: 100%; }
      }
    
      /* Your existing CSS goes here */
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
      }
    
      body {
        font-family:"Libre Baskerville", "static";
      }
    
      .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0px 10px;
      }
      .navbar {
        display: flex;
        justify-content: space-between; /* Add this line */
        background-color: rgb(111, 13, 141);
        overflow: hidden;
      }
      
      .navbar a {
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
      }
      
      .navbar a:hover {
        background-color: #ddd;
        color: black;
      }
      .header {
        padding: 60px;
        text-align: center;
        flex-grow: 1;
      }
      .header h1 {
        color: rgb(70, 3, 101);
      }
      .kk-Wagh{
        text-align: center;
      }
      .register-btn {
        background-color: rgb(83, 2, 108);
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
      }
      .register-btn:hover {
        background-color: #34003e;
      }
      .top-companies {
        padding: 20px;
        margin-top: 20px;
      }
      
      .image-side {
        max-width: 540px; /* Adjust the size as needed */
      }
      /* styles.css */

#about-us {
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
    margin-bottom: 60px;
    margin-left: 20px;
  }
  
  #about-us h2 {
  text-align: center;
  color: rgb(93, 1, 108);
 text-decoration: underline;
  }
  h4{
    text-align: center;
    line-height: 0%;
    color: rgb(122, 3, 146)
  }
  #about-us p {
    color: black;
  }
  
  #about-us .read-more {
    display: inline-block;
    padding: 10px 20px;
    color: white;
    text-align: center;
    background-color: rgb(83, 2, 108);
    text-decoration: none;
    border-radius: 5px;
   margin-left: 250px;
  }
  .read-more:hover{
    background-color: #2a0132;
  }
  #about-us img {
    width: 80%;
    height: 200px;
    margin-top: 60px;
    margin-left: 70px;
  }
  