*{
    font-family: "Libre Baskerville", "static";
}
body{
    align-content: center;
    display: block;
    margin: 0;
}
.horizontal-bar{
    background-color: rgb(236, 220, 250);
    position: relative;
    display: flex;
    align-items: center;
}

.horizontal-bar img{
    height: 5%;
    width: 25%;
    margin: 0;
}
.horizontal-bar .authority-name{
    font-weight: 900;
    margin-left: 300px;
    font-size: 2rem; 
    color: rgb(109, 49, 164);
}
.sidepanel {
    height: 250px; /* Specify a height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 17%;
    left: 0;
    background-color: #fffbfb; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidepanel */
  }
  
  /* The sidepanel links */
  .sidepanel a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 16px;
    color: rgb(109, 49, 164);;
    display:inline-block;
    transition: 0.3s;
  }
  .sidepanel a i {
    margin-right: 10px;
}
  /* When you mouse over the navigation links, change their color */
  .sidepanel a:hover {
    color: rgb(105, 42, 164);;
  }
  
  /* Position and style the close button (top right corner) */
  .sidepanel .close-toggle-btn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  /* Style the button that is used to open the sidepanel */
  .open-toggle-btn {
    font-size: 20px;
    cursor: pointer;
    /* background-color: #111; */
    color: rgb(105, 42, 164);
    padding: 10px 15px;
    border: none;
  }
  .open-toggle-btn:hover {
    /* background-color: #f6f4f4; */
    transition: .2s;
    transform: scale(1.02);
    box-shadow: 0 8px 16px 0 rgb(109, 49, 164,0.7);
  }
.complaint-table{
    width: 80vw;
    height: 38vw;
    background-color:rgb(214, 179, 246);
    box-shadow: 0 0.4rem 0.8rem rgb(89, 40, 135);
    border-radius: 0.8rem;
    position: absolute;
    left: 13%;
    top: 20%;
}

.page-display{
    position: sticky;
    background-color: rgb(236, 220, 250);
    top: 0;
    height: 10%;
    padding: 1rem;
    margin-bottom: 10px;

}
.page-display h2{
    color: rgb(89, 40, 135);
}
.complaints-display{
    width: 95%;
    margin: 1rem auto;
    border-radius: 0.8rem;
    max-height: calc(79% - 0.8rem);
    overflow: auto;
    background-color:rgb(236, 220, 250) ;
    box-shadow: 0 0.3rem 0.5rem rgb(89, 40, 135);
    border-radius: 0.8rem;
}

table{
    width: 100%;
}
table, th, td {
    font-size: 1rem;
    color: rgb(89, 40, 135);
    padding: 20px;
    text-align: center;
    border-collapse: collapse;
}
th{
    overflow-x: hidden;
    top: 0;
    left: 0;
    background-color:rgb(200, 163, 237) ;
    height: 20px;
}
thead{
    position: sticky;
    overflow-x: hidden;
}
.body tr:nth-child(even){
    background-color: rgb(230, 208, 249);
}
.body tr:hover{
    background-color: rgb(225, 194, 251);
}
.status-btn{
    font-size: 16px;
    font-family:Cabin;
    color: white;
    padding: 10px;
    border-radius: 2rem;
    border: none;
    background-color: rgb(109, 49, 164);
}
.status-btn:hover{
    box-shadow: 0 8px 16px 0 rgb(109, 49, 164,0.7);
    transition: .2s;
    transform: scale(1.02);
}