body{
    background-color: rgb(249, 232, 232);
    margin: 0;
}
.NavBar{
    background-color: #C7B7A3;
    border-bottom:3px solid#561C24;
    margin: 0;
}
.NavBar img{
    height:125px;
    width: 125px;
    padding-right: 420px;
    
}
h1{
    display: inline;
    font-family: "Libre Baskerville", "static";  
    left: 500px;
    font-size: 2.5rem;
    color: #561C24;
}
p{
    font-family: "Libre Baskerville", "static";
}


.content{
    border: 3px solid #561C24;
    border-radius: 15px;
    background-color: #ebdbc8;
    text-align: left;
    width: 310px;
    height: 350px;
    position: relative;
    top: 100px;
    left: 550px;
    padding-top: 0px;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 40px;
}
.button{
    width: 300px;
    height: 30px;
    border-radius: 5px;
    background-color: whitesmoke;
}
.student-login{
    background-color: #C7B7A3;
    padding-top: 0;
    width: 230px;
    align-items: center;
}
.student-login p{
    font-size: 1.9rem;
    color: #561C24;
    
}
.login{
    background-color: rgb(242, 230, 202);
    height: 40px;
    border-radius:10px ;
}